{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}

    <div class="w-3/4 m-auto shadow-2xl rounded-xl p-8">

        <h1 class="text-4xl font-bold text-center my-5">Inscription</h1>
        {{ form_start(form) }}

        {{ form_label(form.first_name) }}
        {{ form_widget(form.first_name) }}

        {{ form_label(form.last_name) }}
        {{ form_widget(form.last_name) }}

        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_label(form.password) }}
        {{ form_widget(form.password) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
